*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.title{
  padding-top: 48px;
  font-family: 'bold';
  font-size: 40px;
}

#back-button{
  display: block;
  padding: 10px 20px;
  border: none;
  font-family: bold;
  font-size: 100%;
  border-radius: 10px;
  background-color: #2d55ff;
  color: white;
  cursor: pointer;
  
}

#favorites-list {
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
  gap: 10px;

}

#shows-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-card {
  width: 300px;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #d9d9d9,
              -20px -20px 60px #fff;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.show-card img {
  cursor: pointer;
  width: 100%;
}

.show-card h3 {
  font-family: 'bold';
  text-align: center;
  cursor: pointer;
}

.show-card a {
  text-decoration: none;
  color: black;
}


@media screen and (max-width: 600px) {
  #container {
      padding: 20px 0;
  }

  #form-area {
      width: 80%;
  }

  #form-area form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  #query {
      width: 100%;
      margin: 0 0 10px 0;
  }

  .show-card {
      width: 100%;
  }

}

